# k8s/init-localstack.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: init-localstack
spec:
  template:
    spec:
      containers:
        - name: init
          image: amazon/aws-cli
          imagePullPolicy: IfNotPresent
          env:
            - name: AWS_ACCESS_KEY_ID
              value: "test"
            - name: AWS_SECRET_ACCESS_KEY
              value: "test"
            - name: AWS_DEFAULT_REGION
              value: "eu-west-1"
          command: ["/bin/sh", "-c"]
          args:
            - >
              aws --endpoint-url=http://localstack:4566 --region eu-west-1 sqs create-queue --queue-name ingestor-parser-queue &&
              aws --endpoint-url=http://localstack:4566 --region eu-west-1 sqs create-queue --queue-name ingestor-etl-queue &&
              aws --endpoint-url=http://localstack:4566 --region eu-west-1 sqs create-queue --queue-name parser-analyzer-queue &&
              aws --endpoint-url=http://localstack:4566 --region eu-west-1 sqs create-queue --queue-name analyzer-etl-queue &&
              aws --endpoint-url=http://localstack:4566 --region eu-west-1 sns create-topic --name system-events &&
              aws --endpoint-url=http://localstack:4566 --region eu-west-1 s3api create-bucket --create-bucket-configuration LocationConstraint=eu-west-1 --bucket my-local-bucket &&
              echo "Queues, topic, and bucket created"
      restartPolicy: OnFailure