# k8s/data-ingestor.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-ingestor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: data-ingestor
  template:
    metadata:
      labels:
        app: data-ingestor
    spec:
      containers:
        - name: data-ingestor
          image: data-ingestor:latest
          imagePullPolicy: Never
          env:
            - name: AWS_ACCESS_KEY_ID
              value: test
            - name: AWS_SECRET_ACCESS_KEY
              value: test
            - name: AWS_REGION
              value: eu-west-1
            - name: AWS_ENDPOINT_URL
              value: http://localstack:4566
            - name: SQS_QUEUE_NAME
              value: ingestor-parser-queue
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: data-ingestor
spec:
  selector:
    app: data-ingestor
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080